/* Gaya umum */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #333;
}

/* Gaya Header */

header {
  background-color: #fddb3a;
  padding: 20px;
  text-align: center;
}

/* Gaya Navbar */

nav {
  background-color: #2c3e50;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #34495e;
}

/* Gaya Section */

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Gaya CandidateSection */

#candidates img {
  max-width: 200px;
}

/* Gaya RegistrationForm */

form input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #2980b9;
}
.header-title {
  display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
  align-items: center; /* Mengatur vertikal tengah pada elemen dalam flexbox */
}

.header-title h1 {
  margin: 0; /* Menghilangkan margin atas dan bawah pada elemen h1 */
}

.my-button {
    /* Add your desired styles here */
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  
  .my-button:focus {
    outline: none;
    box-shadow: 0 0 5px #45a049;
  }
  .bold {
    font-weight: bold; /* Membuat teks menjadi bold */
  }
  
  .schedule {
    text-align: center; /* Mengatur teks menjadi rata tengah */
  }
  
  .schedule p {
    text-align: justify; /* Mengatur teks menjadi rata kiri kanan */
  }
  